openapi: 3.0.3
info:
  title: Peril Score API
  version: 1.0.0
  description: Minimal OpenAPI definition for the Peril Score portal lookup endpoint.

servers:
  - url: https://app3.clyde-analytics.com/
    description: Production
  - url: http://localhost/
    description: Local

tags:
  - name: Lookup
    description: Portal lookup items

paths:
  /scoring_engine/portal_lookup_peril_score.php:
    get:
      tags:
        - Lookup
      summary: Get lookup items for portal dropdowns
      description: Returns lookup values for construction, protection, primary heating, and auxiliary heating.
      operationId: getPortalLookupPerilScore
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lookup items returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LookupSection"
              example:
                - section: construction
                  items:
                    - value: Concrete-steel
                      name: Concrete steel
                    - value: Fabric
                      name: Fabric
                    - value: Flexible
                      name: Flexible
                    - value: Inflexible
                      name: Inflexible
                    - value: Solid
                      name: Solid
                - section: protection
                  items:
                    - value: P
                      name: Protected
                    - value: S
                      name: Semi-protected
                    - value: U
                      name: Unprotected
                - section: primaryHeating
                  items:
                    - value: E
                      name: Electrical
                    - value: G
                      name: Gas
                    - value: O
                      name: Oil
                    - value: P
                      name: Propane
                    - value: Q
                      name: Other
                - section: auxiliaryHeating
                  items:
                    - value: N
                      name: None
                    - value: O
                      name: Oil
                    - value: Q
                      name: Other
                    - value: W
                      name: Wood
        "401":
          description: Unauthorized
          content:
            text/plain:
              schema:
                type: string
                example: Unauthorized
        "405":
          description: Method Not Allowed
        "500":
          description: Lookup file error
          content:
            text/plain:
              schema:
                type: string
              examples:
                fileNotFound:
                  value: Lookup file not found
                fileOpenError:
                  value: Unable to open lookup file
                fileEmpty:
                  value: Lookup file is empty
                missingColumns:
                  value: Lookup file is missing required columns

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token
  schemas:
    LookupItem:
      type: object
      required:
        - value
        - name
      properties:
        value:
          type: string
        name:
          type: string
    LookupSection:
      type: object
      required:
        - section
        - items
      properties:
        section:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/LookupItem"
